{% extends 'base.html' %}
{% block content %}
    <main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="margin-top: 50px;">
    <div class="col-lg-8 px-0">
      <h1 class="display-4 fst-italic">Bienvenue dans notre Application</h1>
      <p class="lead my-3">Tu trouve dans notre application des annonces de location multiples. Inscrire dans notre app et commencer à ajouter des annonces.</p>
    </div>
  </div>

  <div class="row mb-2">
    {% for location in locations %}

     <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{ location [1] }}</h3>
          <div class="mb-1 text-body-secondary">{{ location[3] }}, le {{ location[5] }}</div>
          <p class="card-text mb-auto">Prix: {{ location[2] }} DT</p>
          <a href="locations/{{ location[0] }}" class="icon-link gap-1 icon-link-hover stretched-link">
            voir l'annonce
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{ url_for('static', filename='img/location/' + location[4]) }}" alt="">
        </div>
      </div>
    </div>

    {% endfor %}

   
  </div>

</main>
{% endblock %}