{% extends "base.html" %}

{% block content %}
<style type="text/css">
    h1
    {
        font-size: 18px;
        color: #888;
        margin-bottom: 20px;
    }

    .article
    {
        height: 200px;
        border-bottom: 2px solid #ccc;
        margin-bottom: 20px;
    }

    .image
    {
        display: inline-block;
        width: 200px;
    }

    .content
    {
        height: 200px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
    }

    h2
    {
        font-size: 18px !important;
        color: #888 !important;
        margin-bottom: 20px !important;
    }
</style>
<div class="container" style="margin-top: 50px; margin-bottom: 300px;">
    <div class="row">
        <div class="col-md-4">
            <h1>Bienvenue dans notre app</h1>
            <p>Il y a {{ locations|length }} annonces de location</p>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-7">
            {% for location in locations %}
            <div class="article">
                <div class="image">
                    <a href="/locations/{{ location[0] }}" style="text-decoration: none;"><img src="{{ url_for('static', filename='img/location/' + location[4]) }}" alt="" width="100%" style="height: 100px !important;"></a>
                </div>
                <div class="content">
                    <a href="/locations/{{ location[0] }}" style="text-decoration: none;"><h2>{{ location[1] }}</h2></a>
                    <p style="margin-bottom: 5px;">Prix: {{location[2] }} DT</p>
                    <p>{{location[3] }}, le {{ location[5] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}